CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_PAGES_PROJECT=thresil-hq
CLOUDFLARE_PAGES_BRANCH=main
CLOUDFLARE_PAGES_DIR=web
CLOUDFLARE_CUSTOM_DOMAIN=777x.space
CLOUDFLARE_CUSTOM_DOMAIN_WWW=www.777x.space
PRIVATE_KEY=
